.div_1{
    margin-top: 18px;
    margin-left: 15px;
    width: 300px;
    height: 400px;
    background-color:#2F8141 ;
}

.div_2{
    margin-top: 16px;
    margin-left: 15px;
    width: 571px;
    height: 140px;
    background-color:#13513B;
}

.div_3{
    margin-top: 16px;
    margin-left: 15px;
    width: 571px;
    height: 140px;
    background-color:#E624BB;
}

.div_4{
    margin-top: 16px;
    margin-left: 15px;
    width: 571px;
    height: 140px;
    background-color:#55EF0D;
}